 # Mean Medain Mode

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('airlines_flights_data.csv')
df.head()

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [5]:
# Mean
mean_price=df['price'].mean()
mean_duration = df['duration'].mean()
print(mean_price)
print(mean_duration)

20889.660523133203
12.221020812718846

In [6]:
# Median Value
median_price=df['price'].median()
median_duration = df['duration'].median()
print(median_price)
print(median_duration)

7425.0
11.25

In [7]:
#Mode 
mode_price=df['price'].mode()
mode_duration = df['duration'].mode()
print(mode_price)
print(mode_duration)

0    54608
Name: price, dtype: int64
0    2.17
Name: duration, dtype: float64

In [8]:
# min value 
print(df['price'].min())
print(df['duration'].min())

1105
0.83

In [9]:
# max value 
print(df['price'].max())
print(df['duration'].max())

123071
49.83

In [10]:
# Sum 
print(df['price'].sum())
print(df['duration'].sum())

6270094275
3668176.0599999996

In [12]:
#count 
print(df.count())
print(df['price'].count())
print(df['duration'].count())

index               300153
airline             300153
flight              300153
source_city         300153
departure_time      300153
stops               300153
arrival_time        300153
destination_city    300153
class               300153
duration            300153
days_left           300153
price               300153
dtype: int64
300153
300153

In [13]:
# Variance Value 

print(df['price'].var())
print(df['duration'].var())

515188643.4044351
51.72482427311158

In [14]:
# std 


print(df['price'].std())
print(df['duration'].std())

22697.76736607447
7.191997238119018